@media screen and (max-width: 1600px){


    .project_box{

        width: 45vw;

    }

    #bio_curve_wrapper {

        top: 1vh;
        
    }

    #project_title{

        top: calc(100% - 47%);
        width: 54vw;

    }

    #wheel{

        width: 40rem;

    }

}

@media screen and (max-width: 1400px){


    .project_box{

        width: 55vw;

    }

    #bio_curve_wrapper {

        top: 1vh;
        
    }

    #wheel{

        width: 33rem;

    }

}

@media screen and (max-width: 1200px){

    #title h1 {

        margin-left: 0;
        margin-top: 4vh;
        margin-bottom: 4vh;
        text-align: center;


    }

    #wheel {
        /* top: calc(5vh + 48em);
        left: 50%; */
        position: relative;
        margin: auto;

        display: block;

        transform: none;

        left: 0;
        top: 0;
        
 
    }

    #bio_curve_wrapper {

        top: 2vh;

    }

    #body_wrapper{

        grid-template-rows: minmax(64rem, 100vh) auto 12vh;

    }

}

@media screen and (max-width: 992px){


    body.project_open {
        padding-right: 0px;
    }


    #bio_text_wrapper {

        width: 70%;
        margin-left: auto;
        margin-right: auto;

        margin-top: 2vh;

    }

    .project {

        width: 90vw;

    }

    .project_box {
        width: 80vw;
    }

    #bio{

        height: 26vh;

    }
/* 
    #gradient_curve_three {
        top: 11vh;
    }*/

    #project_title{

        top: calc(100% - 41%);
        width: 58vw;

    } 

    #bio_curve_wrapper {

        top: 5vh;

    }

}
/* 
@media (max-width: 992px) and (min-width: 769px) and (max-height: 992px) {
    

    #bio {
        height: 55vh;
    }

    #gradient_curve_three {
        top: 35vh;
    }


    #project_title {
        top: calc(62.5vh + -8vw);
        width: 70vw;
    }

}

@media (max-width: 992px) and (min-width: 769px) and (max-height: 768px) {
    

    #bio {
        height: 93vh;
    }

    #gradient_curve_three {
        top: 75vh;
    }

    #project_title {
        top: calc(102.5vh + -8vw);
        width: 70vw;
    }


} */

@media screen and (max-width: 768px){


    .close_project {
        right: 18.2vw;
    }

    .icon_wrapper {
        font-size: 2.0em;
    }

    .lines_header:before{
    
        height: 0px;
        width: 0px;
    
        margin-right: 0px;
    
    }

    .lines_header:after {
    
        height: 0px;
        width: 0px;
    
        margin-left: 0px;
    
    }

    .project {

        width: 98vw;

    }

    .project_box {
        width: 100vw;
    }

    .project:hover{

        transform: scaleY(1.1);
    
    }
    
    .project:hover h2::after{
    
        width: 80px;
    
    }
    
    .project:hover h2::before{
    
        width: 80px;
    
    }

    /* #wheel{

        width: calc(50vh + -8vw);

    } */

    /* #gradient_curve_three {
        top: 11vh;
    }*/

    #project_title {

        width: 74vw;

    }

    #body_wrapper{

        grid-template-rows: minmax(64rem, 100vh) auto 12vh;

    }

    #bio_curve_wrapper {

        top: 12em;
        height: 18vh;
        min-height: 13rem;

    }


}

/* @media (max-width: 768px) and (min-width: 577px) and (max-height: 992px) {
    

    #bio {
        height: 20vh;
    }

    #gradient_curve_three {
        top: 14vh;
    }


    #project_title {
        top: calc(39.5vh + -8vw);
        width: 70vw;
    }


}

@media (max-width: 768px) and (min-width: 577px) and (max-height: 768px) {
    

    #bio {
        height: 60vh;
    }

    #gradient_curve_three {
        top: 42vh;
    }

    #project_title {
        top: calc(67.5vh + -8vw);
        width: 70vw;
    }


} */



@media screen and (max-width: 576px){

    #title h1 {

        font-size: 6em;

    }

    .icon_wrapper {
        font-size: 1.8em;
    }


    .close_project {
        right: 17.2vw;
    }

    h2{

        font-size: 1.6em;

    }

    h3 {
        font-size: 1.2em;
    }

    #bio_text_wrapper p {
        
        font-size: 0.8em;

    }


    #floating_wrapper {
        margin-top: 24vh;
    }

    .project {
        border-radius: 12px;
        width: 100vw;
        height: 15vh;
    }

    .image_wrapper img {
        border-bottom-left-radius: 12px;
        border-top-left-radius: 12px;
    }

    .project_text_wrapper p {
        margin-top: 5px;
        font-size: 0.8em;
    }

    .project_box p {
        font-size: 0.8em;
    }

    .project_text .p_wrapper {
        font-size: 0.8em;
    }
    
    .project_box {
        height: 100vh;
    }

    footer p {
        font-size: 0.8em;
    }

    .project:hover h2::after{
    
        width: 40px;
    
    }
    
    .project:hover h2::before{
    
        width: 40px;
    
    }

    /* #gradient_curve_three {
        top: 11vh;
    } */

    /* #wheel {
        width: calc(20vh + 20vw);
    } */

    #project_title {
        
        top: calc(100% - 39%);
        width: 104vw;

    } 

    #body_wrapper{

        grid-template-rows: minmax(55rem, 100vh) auto 12vh;

    }

    #bio_curve_wrapper {

        top: 14em;
        height: 15vh;
        min-height: 8rem;
        
    }

}

/* 

@media (max-width: 576px) and (min-width: 300px) and (max-height: 992px) {
    

    #bio {
        height: 20vh;
    }

    #gradient_curve_three {
        top: 14vh;
    }


    #project_title {
        top: calc(37.5vh + -8vw);
        width: 121vw;
    }

}

@media (max-width: 576px) and (min-width: 300px) and (max-height: 768px) {
    
    #wheel {
        width: calc(33vh + 20vw);
    }

    #bio {
        height: 60vh;
    }

    #gradient_curve_three {
        top: 41vh;
    }

    #project_title {
        top: calc(64.5vh + -8vw);
        width: 102vw;
    }


} */
