svg text {
    font-family: FontAwesome;
    font-size: 0.7em;
}

.circle_top {

    transform: rotate(0deg);
    animation: circle_top_animation 22s infinite;
    animation-delay: -15s;

}

.circle_left {

    transform: rotate(0deg);
    animation: circle_left_animation 22s infinite;
    animation-delay: -15s;

}

.circle_right {

    transform: rotate(0deg);
    animation: circle_right_animation 22s infinite;
    animation-delay: -15s;

}

.rotate {

    transform: rotate(0deg);
    transform-origin: 50px 72px;
    animation: rotate 22s infinite;
    animation-delay: -15s;

}

#triangle_gradient_first {
    stop-color: var(--accent-color);
}

#triangle_gradient_second {
    stop-color: var(--primary-color);
}

.speech_bubble_game_developer {

    opacity: 0;
    animation: game_developer 22s infinite;
    animation-delay: -15s;
}

.speech_bubble_web_developer {

    opacity: 0;
    animation: web_developer 22s infinite;
    animation-delay: -15s;
}

.speech_bubble_software_developer {

    opacity: 0;
    animation: software_developer 22s infinite;
    animation-delay: -15s;
}


@keyframes rotate {
    0% {
        animation-timing-function: linear;
        transform: rotate(0deg);
    }

    23.33% {
        animation-timing-function: cubic-bezier(.31, -0.31, .71, 1.09);
        transform: rotate(0deg);
    }

    33.33% {
        animation-timing-function: linear;
        transform: rotate(360deg);
    }

    56.66% {
        animation-timing-function: cubic-bezier(.31, -0.31, .71, 1.09);
        transform: rotate(360deg);
    }

    66.66% {
        animation-timing-function: linear;
        transform: rotate(720deg);
    }

    89.99% {
        animation-timing-function: cubic-bezier(.31, -0.31, .71, 1.09);
        transform: rotate(720deg);
    }

    100% {
        animation-timing-function: linear;
        transform: rotate(1080deg);
    }
}

@keyframes circle_top_animation {
    0% {
        animation-timing-function: linear;
        transform: rotate(270deg) translateX(40px) rotate(-270deg);
    }

    23.33% {
        animation-timing-function: cubic-bezier(.31, -0.31, .71, 1.09);
        transform: rotate(270deg) translateX(40px) rotate(-270deg);
    }

    33.33% {
        animation-timing-function: linear;
        transform: rotate(150deg) translateX(40px) rotate(-150deg);
    }

    56.66% {
        animation-timing-function: cubic-bezier(.31, -0.31, .71, 1.09);
        transform: rotate(150deg) translateX(40px) rotate(-150deg);
    }

    66.66% {
        animation-timing-function: linear;
        transform: rotate(30deg) translateX(40px) rotate(-30deg);
    }

    89.99% {
        animation-timing-function: cubic-bezier(.31, -0.31, .71, 1.09);
        transform: rotate(30deg) translateX(40px) rotate(-30deg);
    }

    100% {
        animation-timing-function: linear;
        transform: rotate(-90deg) translateX(40px) rotate(90deg);
    }
}

@keyframes circle_left_animation {
    0% {
        animation-timing-function: linear;
        transform: rotate(150deg) translateX(40px) rotate(-150deg);
    }

    23.33% {
        animation-timing-function: cubic-bezier(.31, -0.31, .71, 1.09);
        transform: rotate(150deg) translateX(40px) rotate(-150deg);
    }

    33.33% {
        animation-timing-function: linear;
        transform: rotate(30deg) translateX(40px) rotate(-30deg);
    }

    56.66% {
        animation-timing-function: cubic-bezier(.31, -0.31, .71, 1.09);
        transform: rotate(30deg) translateX(40px) rotate(-30deg);
    }

    66.66% {
        animation-timing-function: linear;
        transform: rotate(-90deg) translateX(40px) rotate(90deg);
    }

    89.99% {
        animation-timing-function: cubic-bezier(.31, -0.31, .71, 1.09);
        transform: rotate(-90deg) translateX(40px) rotate(90deg);
    }

    100% {
        animation-timing-function: linear;
        transform: rotate(-210deg) translateX(40px) rotate(210deg);
    }
}

@keyframes circle_right_animation {
    0% {
        animation-timing-function: linear;
        transform: rotate(30deg) translateX(40px) rotate(-30deg);
    }

    23.33% {
        animation-timing-function: cubic-bezier(.31, -0.31, .71, 1.09);
        transform: rotate(30deg) translateX(40px) rotate(-30deg);
    }

    33.33% {
        animation-timing-function: linear;
        transform: rotate(-90deg) translateX(40px) rotate(90deg);
    }

    56.66% {
        animation-timing-function: cubic-bezier(.31, -0.31, .71, 1.09);
        transform: rotate(-90deg) translateX(40px) rotate(90deg);
    }

    66.66% {
        animation-timing-function: linear;
        transform: rotate(-210deg) translateX(40px) rotate(210deg);
    }

    89.99% {
        animation-timing-function: cubic-bezier(.31, -0.31, .71, 1.09);
        transform: rotate(-210deg) translateX(40px) rotate(210deg);
    }

    100% {
        animation-timing-function: linear;
        transform: rotate(-330deg) translateX(40px) rotate(330deg);
    }
}

@keyframes game_developer {

    0% {

        opacity: 1;

    }

    23.33% {

        opacity: 1;

    }

    28.33% {

        opacity: 0;

    }

    95% {

        opacity: 0;

    }

    100% {

        opacity: 1;

    }
}

@keyframes software_developer {

    0% {

        opacity: 0;

    }

    28.33% {

        opacity: 0;

    }

    33.33% {

        opacity: 1;

    }

    56.66% {

        opacity: 1;

    }

    61.66% {

        opacity: 0;

    }

    100% {

        opacity: 0;

    }

}

@keyframes web_developer {

    0% {

        opacity: 0;

    }

    61.66% {

        opacity: 0;

    }

    66.66% {

        opacity: 1;

    }

    89.99% {

        opacity: 1;

    }

    95% {

        opacity: 0;

    }

    100% {

        opacity: 0;

    }

}